@use 'variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $color-text;
  background: #f5f7fa;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
